form {
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

label,
input {
    display: block;
    width: 98%;
}

input {
    font-size: 1em;
    margin-bottom: 1em;
}

input::placeholder {
    color: lightgray;
}

fieldset {
    margin: 1em;
    padding: 1em;
}

legend {
    font-weight: bold;
}

button.register {
    border: none;
    background-color: var(--primary-action-color);
    font-size: 1em;
    text-transform: uppercase;
    height: 100%;
    padding: 0.4em;
    padding-left: 0.6em;
    padding-right: 0.6em;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
    transition: all .2s ease-in-out;
    color: white;
    cursor: pointer;
    margin: 1em;
}

button.cancel {
    border: 1px solid var(--primary-action-color);
    background-color: white;
    font-size: 1em;
    text-transform: uppercase;
    height: 100%;
    padding: 0.4em;
    padding-left: 0.6em;
    padding-right: 0.6em;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
    transition: all .2s ease-in-out;
    color: black;
    cursor: pointer;
    margin: 1em;
}


button:hover {
    transform: scale(1.1);
}

div.button-container {
    text-align: center;
}

@media (min-width: 1400px) {
    form {
        width: 50%;
    }
}
